{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li
        id="HeaderMenu-{{ link.handle }}"
        class="
          header__menu-item list-menu__item link link--text focus-inset test
          {% if template contains 'collection' or template contains 'product' %}
            shop-active
          {% elsif template contains 'blog' or template contains 'article' %}
            blog-active
          {% endif %}
        "
      >
        <a
          id="HeaderMenu-{{ link.handle }}"
          href="{{ link.url }}"
          class="
            header__menu-item list-menu__item link link--text focus-inset test
            {% if template contains 'collection' or template contains 'product' %}
              shop-active
            {% elsif template contains 'blog' or template contains 'article' %}
              blog-active
            {% endif %}
          "
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          <span
            {%- if link.current %}
              class="header__active-menu-item"
            {% endif %}
          >
            {{- link.title | escape -}}
          </span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
