{% schema %}
{
  "name": "Breadcrumbs Apparel",
  "settings": [],
  "presets": [
    {
      "name": "Breadcrumbs Apparel",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<nav aria-label="Breadcrumb" class="breadcrumbs-apparel">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item">
      <a href="/collections/all"> <h3>Tous les produits</h3></a>
    </li>
    {% if collection.handle == 'apparel' %}
      <li class="breadcrumb-item">
        <h3>> Apparel</h3>
      </li>
    {% elsif collection %}
      <li class="breadcrumb-item">
        <a href="/collections/apparel"><h3> > Apparel</h3></a>
      </li>
      <li class="breadcrumb-item">
        <h3>> {{ collection.title }}</h3>
      </li>
    {% endif %}
  </ol>
</nav>

<style>
  .breadcrumbs-apparel .breadcrumb-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: #FFF5E6;
    margin: 0;
    border-top: 1px solid black;
  }
  .breadcrumb-list{
    text-transform: uppercase;
  }
  .breadcrumbs-apparel .breadcrumb-item {
    display: inline;
    margin-right: 5px;
  }
  @media (max-width: 768px) {
    .breadcrumbs-apparel .breadcrumb-list {
      flex-wrap: wrap;
    }
    
  }

</style>
