{% schema %}
{
  "name": "Collection Links Section",
  "class": "custom-collection-links",
  "settings": [],
  "blocks": [
    {
      "type": "collection_link",
      "name": "Collection Link Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Collection Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "max_blocks": 2,
  "presets": [
    {
      "name": "Collection Nav",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="custom-collection-links-section">
  {% for block in section.blocks %}
    <div class="collection-link-block">
      {% if block.settings.collection != blank %}
        <a href="{{ block.settings.collection.url }}" title="{{ block.settings.title }}">
          <h2>{{ block.settings.title }}</h2>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>

<!-- Add some basic styles for the section -->
<style>
  .custom-collection-links-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .collection-link-block {
    text-align: center;
    flex: 1;
  }

  .collection-link-block h2 {
    font-family: 'CustomFont-Bold';
font-size: 4rem;
  }
  .custom-collection-links-section .collection-link-block:nth-child(1){
    background-color: #E55041;

  }
  .custom-collection-links-section .collection-link-block:nth-child(1) h2{
    color: #FFF5E6;

  }
  .custom-collection-links-section .collection-link-block:nth-child(2){
    background-color: #1E1E1E;

  }
  .custom-collection-links-section .collection-link-block:nth-child(2) h2{
    color: #FFF5E6;

  }
</style>
