{% schema %}
{
  "name": "Custom Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Your custom text here"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "checkbox",
      "id": "invert_layout",
      "label": "Invert Image and Text",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Custom Section image and text"
    }
  ]
}
{% endschema %}

<div class="custom-section{% if section.settings.invert_layout %} row-reverse{% endif %}">
  <div class="custom-section-image">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="">
  </div>
  <div class="custom-section-content">
    <p>{{ section.settings.text }}</p>
    <a href="{{ section.settings.button_url }}" class="custom-button button blueButton">
      {{ section.settings.button_text }}
    </a>
  </div>
</div>

<style>
  .custom-section {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    height: 40vw;
    min-height: 400px;
    overflow: hidden;
  }
  .custom-section.row-reverse {
    flex-direction: row-reverse;
  }

  .custom-section-image {
    flex-basis: 50%;
    max-width: 50%;
  }

  .custom-section-content {
    flex-basis: 50%;
    padding: 0 2rem;
    height: 100%;
  }
  .custom-section-content p {
    font-size: 26px;
    line-height: 100%;
  }
  .custom-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .custom-section-image img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .custom-section {
      flex-direction: column;
    }
    .custom-section.row-reverse {
      flex-direction: column;
      align-items: flex-start;
    }
    .custom-section-content {
      flex-basis: 100%;
      padding: 0 2rem 2rem;
      max-width: 100%;
    }
    .custom-section-image {
      flex-basis: 100%;

      max-width: 100%;
    }
    .custom-section {
      height: auto;
    }
    .custom-section-content p {
      font-size: 22px;
    }
  }
</style>
