<div class="blog-menu">
  <!-- Link to all blog articles -->
  <a href="{{ blog.url }}" class="{% if request.path == blog.url %}active{% endif %}">
    <h3>All</h3>
  </a>
  {% for tag in blog.all_tags %}
    {% assign handleized_tag = tag | handleize %}
    {% assign tag_url = '/blogs/all-blogs/tagged/' | append: handleized_tag %}
    <a href="{{ tag_url }}" class="{% if request.path contains handleized_tag %}active{% endif %}">
      <h3>{{ tag }}</h3>
    </a>
  {% endfor %}
</div>

<!-- Add some basic styles for the section -->
<style>
  .blog-menu {
    display: flex;
    justify-content: space-between;
  }
  .blog-menu a {
    z-index: 2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: white;
    height: 6rem;
  }
  .blog-menu a.active {
    transform: scale(1.5);
    z-index: 0;
    background-color: #1e1e1e;
    align-items: flex-end;
    justify-content: flex-start;
    transform-origin: left;
    position: relative;
    left: -1px;
  }
  .blog-menu a.active h3 {
    padding-left: 1rem;
    color: white;
  }
  .blog-menu a h3 {
    color: #1e1e1e;
  }
  @media screen and (max-width: 750px) {
    .blog-menu a h3 {
      font-size: 12px;
    }
    .blog-menu a.active {
      transform: scale(1);
      z-index: 0;
      background-color: #1e1e1e;
      align-items: flex-end;
      justify-content: flex-start;
      transform-origin: left;
    }
  }
</style>

{% schema %}
{
  "name": "Blog Navigation Menu",
  "class": "blog-navigation-menu",
  "settings": [],
  "presets": [
    {
      "name": "Blog Navigation Menu",
      "category": "Custom"
    }
  ]
}
{% endschema %}
