{% schema %}
{
  "name": "Marquee Text Section",
  "settings": [
    {
      "type": "text",
      "label": "Marquee Text",
      "id": "marquee_text",
      "default": "This is your marquee text. Edit this text as needed."
    }
  ],
  "presets": [
    {
      "name": "Marquee",
      "category": "Marquee Text",
      "settings": {
        "marquee_text": "This is the preset marquee text."
      }
    }
  ]
}
{% endschema %}

<div class="marquee-container">
    <div id="marquee" class="vanilla-marquee">{{ section.settings.marquee_text }}</div>
  </div>
  
  <script type="module">
import marquee from 'https://cdn.jsdelivr.net/npm/vanilla-marquee/dist/vanilla-marquee.js';

    new marquee( document.getElementById( 'marquee' ), {
  gap:        100,
  speed:      150,
});
  </script>
<style>
    .marquee-container {
      overflow: hidden;
      white-space: nowrap;
      background-color: #264a99;
      color: #fff;
      font-weight: bold;
      font-size: 4rem;
    }
  
    .vanilla-marquee div {
      font-size: 4rem;
    }

  </style>