{% schema %}
{
  "name": "Custom Menu with Submenu",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "info": "Select a menu to display its links and submenus."
    }
  ],
  "presets": [
    {
      "name": "Custom Menu with Submenu",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<nav class="custom-menu-with-submenu">
  {% assign selected_menu = linklists[section.settings.menu] %}

  {% if selected_menu.links != blank %}
    <ul class="menu">
      {% for link in selected_menu.links %}
  
      
          {% if link.links != blank %}
            <div class="submenu">
              {% for sublink in link.links %}
                <li class="submenu-item{% if sublink.active %} active{% endif %}">
                  <a
                    href="{{ sublink.url }}"
                    {% if sublink.active %}
                      aria-current="page"
                    {% endif %}
                  >
                    <h2>  {{- sublink.title -}}</h2>

                  
                  </a>
                </li>
              {% endfor %}
            </div>
          {% endif %}
      
      {% endfor %}
    </ul>
  {% endif %}
</nav>

<style>
  .custom-menu-with-submenu .menu {
    list-style: none;
    padding: 0 2rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    margin-bottom: 2rem;
    
  }
.submenu li{}
  .custom-menu-with-submenu .menu-item {
    margin-bottom: 10px;
  }
.submenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
 
}
  .custom-menu-with-submenu .submenu {
    list-style: none;
    padding: 0;
 
  }

  .custom-menu-with-submenu .menu-item.active > a,
  .custom-menu-with-submenu .submenu-item.active > a h2 {
    font-family: 'CustomFont-Bold';
    

  }
</style>
