{% schema %}
{
  "name": "Marquee Text Section Top",
  "settings": [
    {
      "type": "text",
      "id": "marquee_text",
      "label": "Marquee Text",
      "default": "This is your marquee text. Edit this text as needed."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#264a99"
    }
  ],
  "presets": [
    {
      "name": "Marquee TOP",
      "category": "Marquee Text",
      "settings": {
        "marquee_text": "This is the preset marquee text.",
        "background_color": "#264a99"
      }
    }
  ]
}
{% endschema %}

<div class="marquee-container" style="background-color: #1e1e1e;">
  <div id="marqueeTop" class="vanilla-marquee">{{ section.settings.marquee_text }}</div>
</div>

<script type="module">
  import marquee from 'https://cdn.jsdelivr.net/npm/vanilla-marquee/dist/vanilla-marquee.js';

  new marquee(document.getElementById('marqueeTop'), {
    gap: 100,
    startVisible: false,
    speed: 150,
    delayBeforeStart: 0,
  });
</script>

<style>
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
  }

  #marqueeTop div {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-style: italic;
  }
  @media screen and (max-width: 750px) {
    .vanilla-marquee div {
      font-size: 1rem;
    }
  }
</style>
