*,
html {
  --creme: #fff5e6;
  --blue: #264a99;
  --red: #e55041;
  --green: #008150;
  font-size: 62.5%;
}

header {
  background-color: var(--creme);
}
body {
  background-color: #fcf9f5;
}
.button.blueButton {
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  border: 1px solid var(--blue);
  transition: 0.3s ease all;
  line-height: normal;
  border-radius: 4px;
}
.button.blueButton:hover {
  background-color: white;
  color: var(--blue);
  font-weight: 600;
  border: 1px solid var(--blue);
  transition: 0.3s ease all;
  border-radius: 4px;
}
a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

/* HEADER */
.logo-custom {
  width: 100px;
}
.logo-search {
  height: 26px;
  width: 26px;
}
#HeaderMenu-shop.shop-active {
  background-color: var(--red);
  color: white;
}
nav.header__inline-menu #HeaderMenu-shop.shop-active span {
  color: white;
}
#HeaderMenu-lifestyle.blog-active {
  background-color: var(--green);
  color: white;
}
nav.header__inline-menu #HeaderMenu-lifestyle.blog-active span {
  color: white;
}
.sticky-header {
  margin: 0;
}
p {
  font-size: 1.2rem;
}
.cart-container {
  position: relative;
}
.menu-drawer__navigation {
  padding: 3rem 0;
  background: var(--creme);
}
/* HERO */
.banner__heading {
  color: var(--creme);
  font-style: italic;
  line-height: 120%;
}
.banner {
  height: 80vh !important;
}
.banner .video-container {
  height: 100%;
}
.banner video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
h2,
H3,
.menu-drawer__close-button {
  font-family: 'CustomFont-Regular' !important;
}
/* //PRODUCT  */
.product .grid__item,
.product .product__info-wrapper {
  flex: 1;
}
.product h1 {
  color: black;
  font-size: 3rem;
  line-height: 100%;
}
.product .product__title {
  margin-bottom: 0.5rem;
}
.product__info-container {
  padding-top: 3rem;
}
.product__description p,
.product__description strong,
.product__description li,
.product__description em,
.product__description b {
  font-size: 1.4rem;
  color: black;
}
.price-item {
  font-size: 2rem;
}
.product .box {
  display: flex;
  gap: 2rem;
}
.product select,
.product .quantity,
.product {
  background-color: var(--creme);
  font-family: 'CustomFont-Regular';
}
.product {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.product .quantity {
  width: 11rem;
}
shopify-buy-it-now-button {
  display: none;
}
.product-form__buttons button {
  background-color: black;
  color: var(--creme);
  font-size: 3rem;
  transition: 0.3s ease;
  border: 1px solid black;

  text-transform: uppercase;
}
.product-form__buttons button:hover {
  background-color: var(--creme);
  color: black;
  font-size: 3rem;
  transition: 0.3s ease;
  border: 1px solid black;
  text-transform: uppercase;
}
.grid__item.product__media-wrapper .thumbnail-slider {
  display: block;
}
.custom-thumbnail {
  display: none;
}
.product .product__info-wrapper {
  flex: 0.7;
}
product-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__info-wrapper {
  padding: 0 !important;
}
.product-info-container {
  padding-left: 4rem;
}
.price {
  font-family: 'CustomFont-Light';
}
quantity-input {
  background-color: #fcf9f5;
}

.product-image-container {
  display: flex;
  flex-direction: row-reverse;
}
.product-image-container .slider-mobile-gutter {
  flex: 0.85;
}
.product-image-container .thumbnail-slider {
  flex: 0.15;

  padding-top: 4rem;
}
button.thumbnail {
  border: none;
}
.product-image-container .thumbnail-slider .slider-button {
  display: none !important;
}
.product-image-container .thumbnail-slider ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  overflow: visible !important;
}
.grid__item.product__media-wrapper media-gallery {
  display: flex;
}
.grid__item.product__media-wrapper media-gallery .product-image-container {
  flex: 1;
}
/* FOOTER */
.form__message {
  padding-left: 1rem;
}
.field,
.field input {
  background-color: #fcf9f5;
}

/* ARTICLE */

@media (max-width: 768px) {
  .vague {
    display: none;
  }
  .menu-drawer-container img {
    width: 64px;
    height: 64px;
    margin-left: 2rem;
    position: relative;
    top: 0.1rem;
  }
  .menu-drawer-container.menu-opening img {
    display: none;
  }
  .product.product--thumbnail_slider {
    flex-direction: column;
    overflow-x: hidden;
  }
  .product-info-container {
    padding: 0 2rem;
  }

  .product .grid__item,
  .product .product__info-wrapper {
    flex: none;
  }
  .grid--peek.slider .grid__item:first-of-type {
    margin-left: 0rem;
  }
  .banner__heading.inline-richtext.h0 {
    font-size: 3rem;
  }
  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
  }
  .grid__item.product__media-wrapper media-gallery,
  .product-image-container {
    display: block;
  }
}
