*,
html {
  --creme: #fff5e6;
  --blue: #264a99;
  --red: #e55041;
  font-size: 62.5%;
}

header {
  background-color: var(--creme);
}
body {
  background-color: #fcf9f5;
}
.button.blueButton {
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  border: 1px solid var(--blue);
  transition: 0.3s ease all;
  line-height: normal;
  border-radius: 4px;
}
.button.blueButton:hover {
  background-color: white;
  color: var(--blue);
  font-weight: 600;
  border: 1px solid var(--blue);
  transition: 0.3s ease all;
  border-radius: 4px;
}
a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

/* HEADER */
.logo-custom {
  width: 100px;
}
.logo-search {
  height: 26px;
  width: 26px;
}
#HeaderMenu-shop.shop-active {
  background-color: var(--red);
  color: white;
}
nav.header__inline-menu #HeaderMenu-shop.shop-active span {
  color: white;
}
.sticky-header {
  margin: 0;
}
/* HERO */
.banner__heading {
  color: var(--creme);
  font-style: italic;
  line-height: 120%;
}

/* //PRODUCT  */
.product .grid__item,
.product .product__info-wrapper {
  flex: 1;
}
