.article-container {
  background-color: var(--creme);
}
.article-template {
  background-color: var(--creme);
  padding: 4rem 4rem;
  max-width: 1400px;
  margin: 0 auto;
}
.article-title {
  margin: 0;
  display: flex;
  align-items: center;
}
.article-template h1 {
  margin: 0;
  font-size: 60px;
}
.article-template p {
  font-size: 18px;
  line-height: 120%;
}
.article-container iframe {
  margin: 4rem 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100%;
}

table td {
  width: 50% !important;
  border: none;
}
table td img {
  width: 100%;
}
.article-container h2 {
  font-size: 60px;
  line-height: 100%;
}
.article-container a {
  color: var(--green);
  text-decoration: underline;
}
@media (max-width: 768px) {
  table td {
    width: 100% !important;
  }
}
